*{
  font-family: 'Source Serif Pro' !important;
}
.main-jumbotron{
  padding: 0px !important;
  margin: 0px !important;
  background-image: url('./public/shopJumbotronBg.jpg');
  height: 85vh;
  background-size: cover;
  background-position: center;
  color: white !important;
  border-radius: 0px !important;
}
.navbar{
  background: rgba(0, 20, 0, 0.5) !important;
  text-align: left;
}
.main-jumbotron h1{
  margin: 30px 0;
  font-size: 30px;
  line-height: 1.5;
}
.intro{
  padding-top: 100px!important;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100%;
}
.cardoverlay-contents{
  background:rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0%;
  left: 0%;
  width:100%;
  color: white;
}
.cardoverlay-contents .btn{
  font-weight: bolder;
  border-width: medium;
}

.header-cards-container{
  display: inline-flex;
  max-height: 10rem;
  overflow-y: hidden;
}
.product-card-image-wrapper{
  max-height: 35vmin;
  overflow: hidden;
}
.product-cards p{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.sale-original-price{
  text-decoration: line-through;
}
.header-cards-container .card{
}
.header-cards-container img{
  min-width: 15rem !important;
}
.header-cards-container .cardoverlay-contents{
  background:rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  text-align: center;
  margin-top: 1em;
}

.navbar-nav a{
  color: white !important;
  margin: 0 20px !important;
  margin-top: 20px !important;
}
.navbar-nav a.active{
  color: lightgrey !important;
  font-weight: bolder;
}
.navbar-toggler {
  color: white !important;
  border: none !important;
}
.nav-link:hover{
  font-weight: 600 !important;
  border-bottom: 1px solid white !important;
}
.logo img, .logo{
  max-width: 3rem!important;
  padding: 0!important;
  margin: 0!important;
}
#header .btn{
  margin-top: 20px !important;
  padding: 6px 26px !important;
  font-size: 16px !important;
}

.carousel-images{
  max-height: 50vh;
}
.carousel-caption p{
  width: inherit;
  font-weight: bold;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar{
    background: rgba(0, 20, 0, 0.3) !important;
    text-align: left;
  }
  .main-jumbotron h1{
    font-size: 25px;
  }
  .intro{
    padding-top: 100px!important;
  }

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
